html, body, #root, .App {
    background-image: url('https://lh3.googleusercontent.com/proxy/K9uFswcAVaOeMN45y0FwFitMG-9IyfSjycVo6_y3c1LF_mN_SGBe8Vn4c_J3uedwgdDXSoGJj1EIVc7Zy2Ygq_ajqAV-24eIXkjNpYSv6oIn9u7Qls5Aqv3i5nOO77piv_6S-htn8uxedUt34ig');
    background-repeat: no-repeat;
    background-size: 100%;
  }